In [1]:
import pandas as pd
import numpy as np

In [2]:
data_col=['user_id','shop_id','time_stamp']

In [3]:
data_view=pd.read_csv('../dataset/user_view.txt',header=None)

data_view.columns=data_col

In [4]:
data_pay=pd.read_csv('../dataset/user_pay.txt',header=None)

data_pay.columns=data_col

In [5]:
data_pay.tail()

           user_id  shop_id           time_stamp
69674105  15330495      766  2016-08-21 19:00:00
69674106   8556331      766  2016-08-11 20:00:00
69674107  11429329      766  2016-09-18 18:00:00
69674108  11429329      766  2016-10-02 20:00:00
69674109  22602094      766  2016-10-13 13:00:00

In [6]:
data_pay.time_stamp=pd.to_datetime(data_pay.time_stamp, format='%Y/%m/%d %H:%M:%S')

In [7]:
data_pay['date']=data_pay.time_stamp.dt.date

In [8]:
data_pay.tail()

           user_id  shop_id          time_stamp        date
69674105  15330495      766 2016-08-21 19:00:00  2016-08-21
69674106   8556331      766 2016-08-11 20:00:00  2016-08-11
69674107  11429329      766 2016-09-18 18:00:00  2016-09-18
69674108  11429329      766 2016-10-02 20:00:00  2016-10-02
69674109  22602094      766 2016-10-13 13:00:00  2016-10-13

考虑到支付客流的增长趋势，这里只考虑2016.8.1之后的数据，并且剔除国庆和中秋假期

In [9]:
data_pay[(True^data_pay.time_stamp.isin(pd.date_range('2016-10-01', '2016-10-10'))) & (True^data_pay.time_stamp.isin(pd.date_range('2016-09-12', '2016-09-19'))) & (data_pay.time_stamp > pd.to_datetime('2016-08-01'))]

           user_id  shop_id          time_stamp        date
1          3434231     1862 2016-10-05 11:00:00  2016-10-05
5         20244878     1862 2016-09-17 15:00:00  2016-09-17
8         22003193     1862 2016-08-07 15:00:00  2016-08-07
11        13211167     1862 2016-09-29 20:00:00  2016-09-29
17        17609360     1862 2016-10-15 17:00:00  2016-10-15
19        15262746     1862 2016-10-18 19:00:00  2016-10-18
21        22028056     1862 2016-08-19 13:00:00  2016-08-19
22         4296251     1862 2016-08-15 20:00:00  2016-08-15
24        11775594     1862 2016-09-25 17:00:00  2016-09-25
27        17068663     1862 2016-10-06 18:00:00  2016-10-06
29         4682101     1862 2016-08-21 17:00:00  2016-08-21
32        11774244     1862 2016-09-20 21:00:00  2016-09-20
40        20252964     1862 2016-09-10 14:00:00  2016-09-10
41        12065639     1862 2016-08-11 20:00:00  2016-08-11
43         5579124     1862 2016-08-30 21:00:00  2016-08-30
44        21829459     1862 2016-08-26 16:00:00  2016-08-26
46        16171365     1862 2016-10-22 19:00:00  2016-10-22
52         7412629     1862 2016-09-04 16:00:00  2016-09-04
54         7412629     1862 2016-08-13 16:00:00  2016-08-13
57         3559961     1862 2016-08-10 13:00:00  2016-08-10
58        11631997     1862 2016-09-30 16:00:00  2016-09-30
59         8400459     1862 2016-09-09 10:00:00  2016-09-09
67        17297778     1862 2016-10-29 19:00:00  2016-10-29
70        17486023     1862 2016-08-06 15:00:00  2016-08-06
72        14893171     1862 2016-08-13 20:00:00  2016-08-13
82          844752     1862 2016-10-28 16:00:00  2016-10-28
93        10458323     1862 2016-09-29 19:00:00  2016-09-29
95         7299292     1862 2016-08-16 17:00:00  2016-08-16
96          909122     1862 2016-08-14 14:00:00  2016-08-14
97         8972413     1862 2016-08-12 21:00:00  2016-08-12
...            ...      ...                 ...         ...
69674076  22363389      766 2016-10-21 17:00:00  2016-10-21
69674077   9467973      766 2016-09-11 21:00:00  2016-09-11
69674078  13103457      766 2016-08-10 20:00:00  2016-08-10
69674079  13103457      766 2016-08-03 21:00:00  2016-08-03
69674080  15330495      766 2016-08-09 10:00:00  2016-08-09
69674081  21083232      766 2016-10-18 19:00:00  2016-10-18
69674083  21083232      766 2016-10-30 19:00:00  2016-10-30
69674084  11369450      766 2016-10-11 20:00:00  2016-10-11
69674085  11350161      766 2016-10-11 19:00:00  2016-10-11
69674086  11350161      766 2016-09-15 17:00:00  2016-09-15
69674087  11350161      766 2016-09-09 16:00:00  2016-09-09
69674088  11350161      766 2016-10-30 13:00:00  2016-10-30
69674089  11350161      766 2016-09-27 19:00:00  2016-09-27
69674090  13235858      766 2016-10-11 18:00:00  2016-10-11
69674091   6088076      766 2016-08-16 11:00:00  2016-08-16
69674093  16221565      766 2016-09-08 18:00:00  2016-09-08
69674096  21083232      766 2016-09-21 20:00:00  2016-09-21
69674097  20732081      766 2016-08-28 12:00:00  2016-08-28
69674098   5112685      766 2016-10-27 11:00:00  2016-10-27
69674099  15273463      766 2016-08-04 19:00:00  2016-08-04
69674100   4378316      766 2016-08-23 12:00:00  2016-08-23
69674101  14323567      766 2016-10-26 20:00:00  2016-10-26
69674102  14323567      766 2016-10-06 12:00:00  2016-10-06
69674103  19062832      766 2016-08-13 19:00:00  2016-08-13
69674104  19062832      766 2016-09-24 20:00:00  2016-09-24
69674105  15330495      766 2016-08-21 19:00:00  2016-08-21
69674106   8556331      766 2016-08-11 20:00:00  2016-08-11
69674107  11429329      766 2016-09-18 18:00:00  2016-09-18
69674108  11429329      766 2016-10-02 20:00:00  2016-10-02
69674109  22602094      766 2016-10-13 13:00:00  2016-10-13

[25167244 rows x 4 columns]

In [10]:
feature_daypay=pd.DataFrame({'daypay': data_pay.groupby(['shop_id','date'])['user_id'].count()}).reset_index()

In [11]:
# feature_daypay.head()
feature_daypay['date'] = pd.to_datetime(feature_daypay.date, format='%Y-%m-%d')

In [12]:
feature_daypay['weekday'] = feature_daypay.date.dt.weekday

In [13]:
weekday_sum = feature_daypay.groupby(['shop_id','weekday'])['daypay'].sum()
weekday_count = feature_daypay.groupby(['shop_id','weekday'])['daypay'].count()
weekday_mean = pd.DataFrame({'average': weekday_sum / weekday_count}).reset_index()
weekday_mean[:50]

    shop_id  weekday     average
0         1        0  228.000000
1         1        1  232.290909
2         1        2  234.309091
3         1        3  233.781818
4         1        4  267.036364
5         1        5  248.527273
6         1        6  232.928571
7         2        0   95.787234
8         2        1   89.239130
9         2        2   93.446809
10        2        3   95.510638
11        2        4  108.583333
12        2        5  172.723404
13        2        6  176.425532
14        3        0   67.650000
15        3        1   67.789474
16        3        2   70.947368
17        3        3   68.421053
18        3        4   84.000000
19        3        5   94.850000
20        3        6   84.350000
21        4        0  102.000000
22        4        1   90.533333
23        4        2  115.400000
24        4        3  108.400000
25        4        4  116.133333
26        4        5  186.466667
27        4        6  188.133333
28        5        0  173.718750
29        5        1  165.933333
30        5        2  163.296296
31        5        3  159.535714
32        5        4  138.033333
33        5        5  148.481481
34        5        6  139.000000
35        6        0   59.948718
36        6        1   62.763158
37        6        2   61.179487
38        6        3   59.051282
39        6        4   66.675000
40        6        5   64.684211
41        6        6   60.487179
42        7        0  126.260870
43        7        1  132.647059
44        7        2  135.117647
45        7        3  132.857143
46        7        4  152.885714
47        7        5  163.205882
48        7        6  170.257143
49        8        0   70.357143

In [14]:
# weekday_mean
tmp = weekday_mean.pivot(index='shop_id',columns='weekday',values='average').reset_index()
predict_mean = pd.merge(tmp, tmp.copy(), on='shop_id')
tmp_columns = ['day_'+str(i) for i in range(14)]
tmp_columns.insert(0, 'shop_id')
predict_mean.columns = tmp_columns
# predict_mean

In [15]:
predict_mean.round(0)
predict_mean = predict_mean.astype(int)

In [16]:
predict_mean.to_csv('../tempfile/predict_mean.csv', index=False, header=False)